{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block extra_css %}
  <link href="{% static 'ProyectoWebApp/css/gestionCategorias.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    {% for post in posts %}

    <section class="page-section clearfix">

        <div class="container">

          <div class="row align-items-center">

            {% if post.imagen.url %}
            <div class="col-md-6">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.imagen.url}}" alt="" style="width: 100%;">
            </div>
            {% endif %}

            <div class="col-md-6">

                <div class="intro-text bg-faded p-5 rounded">

                  <h2 class="section-heading mb-4">
                    <span class="section-heading-lower">{{post.titulo}}</span>
                    <span class="section-heading-upper">{{post.contenido}}</span>
                  </h2>

                  <div class="autorCategoria">
                    Autor: {{post.autor}}
                  </div>

                </div>

            </div>

          </div>

        </div>

      </section>

    {% endfor %}

{% endblock %}