{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block extra_css %}
  <link href="{% static 'ProyectoWebApp/css/gestionLegal.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="legal" >
    <h3>Política de Privacidad:</h3>
        <p>En TechWeb Universe, nos tomamos la privacidad de nuestros visitantes con suma precaución. Esta Política de Privacidad describe cómo recopilamos, 
            utilizamos y protegemos la información personal que nos proporcionas o que recopilamos de manera automática a través de cookies u otras tecnologías.
        </p>
        <p>Uso de la Información: Utilizamos la información recopilada para brindarte una experiencia personalizada en nuestro sitio web, procesar tus pedidos, 
            enviarte actualizaciones y ofertas especiales, mejorar nuestros servicios y comunicarnos contigo.
        </p>
        <p>Derechos del Usuario: Tienes el derecho de acceder, corregir o eliminar tus datos personales en cualquier momento. Si deseas ejercer alguno de estos 
            derechos o tienes alguna pregunta sobre nuestra Política de Privacidad, no dudes en contactarnos. Al utilizar nuestro sitio web, aceptas los términos de esta Política de Privacidad.
        </p>

    <h3>Aviso Legal:</h3>
        <p>Este Aviso Legal rige el uso de TechWeb Universe. Al acceder y utilizar nuestro sitio, aceptas los términos y condiciones descritos en este aviso.
        </p>
        <p>Propiedad Intelectual: Todos los contenidos, logotipos, marcas registradas y materiales presentes en nuestro sitio web son propiedad de 
            TechWeb Universe y están protegidos por derechos de autor y otras leyes de propiedad intelectual.
        </p>
        <p>Modificaciones: Nos reservamos el derecho de modificar este Aviso Legal en cualquier momento sin previo aviso. 
            Te recomendamos revisar periódicamente esta página para estar informado sobre cualquier cambio.
        </p>

    <h3>Cookies:</h3>
        <p>Nuestro sitio web utiliza cookies y tecnologías similares para mejorar tu experiencia de navegación. 
            Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo cuando visitas nuestro sitio.
        </p>
        <p>Tipos de Cookies: Utilizamos cookies esenciales, funcionales y de análisis. Las cookies esenciales son 
            necesarias para el funcionamiento básico del sitio web. Las cookies funcionales mejoran la funcionalidad 
            y la personalización del sitio. Las cookies de análisis nos permiten recopilar información sobre cómo los usuarios interactúan con el sitio para mejorar su rendimiento.
        </p>
        <p>Preferencias de Cookies: Puedes modificar tus preferencias de cookies a través de la configuración de tu navegador. Ten en cuenta que desactivar ciertas cookies puede afectar la funcionalidad del sitio.
        </p>
</div>

{% endblock %}